*{
    margin:0;
    padding:0;
}
body{
    margin: auto;
   
    background-color: white;
    font-size:12px;
    color:rgb(29, 27, 27)
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
    color:blue;
}
.btn{
    background-color: black;
    color:white;
    padding:10px;
}
.btn:hover{
    background-color: red;
}
.main-header{
    background-color: black;
    color:white;
        text-align: center;
        padding:10px;
        overflow:hidden;
}
.big-p li{
    display:inline;
    padding:10px;
}         


.nav-ul{
 list-style-type: none;

}
.big-p{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7em;
  font-size:17px;
}
.banner{
    width:1320px;
    height:500px;
    position:relative;

}
#imganime{
    background-image: url('anon.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    width:1320px;
    height:500px;
    position:relative;
   /* overflow: hidden;*/

    
}

.anime{
    
    word-spacing:10px;
    text-align: center;
    font-size:50px;
    line-height: 1.3em;
    position:relative;
    animation-name: h1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes h1{
    0%{top:-50px;}
    100%{top:200px;}
}

.container{
    margin:absolute;
    width:100%;
}
/*.img{
    width:1320px;
    height:500px;
    background-image: url('../salamah.com/anon2.jpg');
    background-repeat: no-repeat;
    position:relative;
    
}*/
.button{
    font-size:20px;
    display: inline-block;
    color:white;
    padding: 1rem 2rem;
     background-color: rgb(1, 1, 39);
    border:1px solid black;
    margin: 20px 120px;
    opacity:0;
    animation-name: button ;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;

    transition-property: transform;
    transition-duration: 2s;
    
    }
    .button:hover{
        transform:rotateY(180deg);
    }
   @keyframes button{
       0%{opacity:0;}
       100%{opacity:1;}
   } 
  





.main{
    display:flex;
    margin:10px;
    flex-basis: 100%;
}
.main h1{
    text-align:center;
    font-weight: bold;
    font-size:30px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box1{
margin:5px;
padding:5px;
/*background-color: rgb(29, 27, 27);*/
color: black;
align-items: flex-end;
}
.box1 p{
    font-size:35px;
    font-family: Arial, Helvetica, sans-serif ;
    color:black;
               
                
}

    .box2{
        margin:5px;
        padding:10px;
        }
        
        
.list{
    list-style-type: none;
    list-style-image: url('../salamah.com/list.jpg');
    margin-left:50px;
}
.list :first-child{
    list-style-image: url('html.png');
}
.list :nth-child(2){
    list-style-image: url('css.png');
}
.list :nth-child(3){
    list-style-image: url('js.png');
}
.list :nth-child(4){
    list-style-image: url('wordpress.png');
}
.list :nth-child(5){
    list-style-image: url('git.png');
}
.list :nth-child(6){
    list-style-image: url('boot.png');
}
.list :nth-child(7){
    list-style-image: url('art.png');
}
.list :nth-child(8){
    list-style-image: url('write.png');
}
.list :nth-child(9){
    list-style-image: url('node.png');
}
.prof{
    padding:10px;
    font-size:18px;
    font-weight: normal;
   
}
           
        .box3{
            margin:5px;
            padding:10px;
            overflow: hidden;
        }
    #review{
        padding:15px;
        margin:10px;
        background-color: transparent;
        border:1px solid black;
        color:darkslategrey;
        width:15%;
        font-size: 16px;

    }
    /*reviws starts*/
.review1{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    line-height:1.6em;
    font-size:18px;
    margin-top:20px;
}
.review1 img{
    width:50px;
    height:50px;
    background-color: black;
}
.box1a{
    border:1px solid lightgray;
    background-color: black;
    color: white;
    padding:40px 20px;
}
.box2a{
    border:1px solid lightgray;
    background-color:black;
    color:white;
    padding:40px 20px;
}
.text{
    font-size:18px; 
    font-weight:normal;
    font-family: monospace;
    color:black;
    
}

        














.footer{
    padding:2px;
   background-color: rgb(29, 27, 27);
    margin-top:80px;

}
.footer-p{
    color: rgb(238, 229, 238);
    font-family: cursive;
    padding:10px;
}

.icons img{
    padding:5px;
}
@media(max-device-width:480px)
{
    .heading-menu{
        width:100%;
        margin:0 absolute;
        overflow:hidden;
    }

    .banner{
        width:500px;
        height:500px;
    }
    #imganime{
        width:450px;
        height:500px;
        background-image: url('anon2.jpg');
        background-position: center top;
        background-repeat: no-repeat;

        
    }
    /*.img h1{
        color:rgb(241, 234, 241);
        text-transform:Initial;
        word-spacing:5px;
        text-shadow: black;
        text-align: left;
        font-size:40px;
        font-weight: bold;
        line-height: 1.6em;
        
    
    }*/
    .anime{
        text-align:left;
        font-size:40px;
        font-weight: bold;
    }
    .main{
        display:flex;
        margin:5px;
        flex-wrap: wrap;
    }
    .box1{
    
        background-color: rgb(29, 27, 27);
        color: white;
}
.box1 p{
    color: white;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif ;

}
.list{
    margin-left:100px;
}

#review{
    padding:15px;
    margin:10px;
    background-color: transparent;
    border:1px solid white;
    color:darkslategrey;
    width:15%;
    font-size: 15px;

}
.review1{
    flex-wrap: wrap;
}
}
